In [1]:
import streamlit as st
import pandas as pd
import plotly.express as px

In [2]:
df = pd.read_excel('df.xlsx')

In [3]:
df.dtypes

Data          datetime64[ns]
Unidade               object
Integrante            object
Categoria             object
Nota                 float64
dtype: object

In [4]:
# Convert 'Data' column to datetime
df['Data'] = pd.to_datetime(df['Data'])

# Extract only the date part
df['Data'] = df['Data'].dt.date

In [7]:
df['mes'] = df['Data'].apply(lambda x: f"{x.year}-{str(x.month).zfill(2)}")

In [10]:
df.mes.unique()

array(['2024-01', '2024-02', '2024-03', '2024-04', '2024-05', '2024-06'],
      dtype=object)

In [22]:
df[['Unidade', 'Categoria', 'Nota']].groupby(by=['Unidade', 'Categoria']).mean()

                                     Nota
Unidade             Categoria
Cerro Corá          Ambiente     7.283333
                    Atendimento  6.750000
                    Sabor        7.466667
                    Tamanho      6.633333
Mooca               Ambiente     6.740000
                    Atendimento  5.940000
                    Sabor        6.160000
                    Tamanho      6.820000
Paraíso             Ambiente     3.437500
                    Atendimento  7.562500
                    Sabor        7.125000
                    Tamanho      7.350000
Peixoto             Ambiente     5.833333
                    Atendimento  7.600000
                    Sabor        6.416667
                    Tamanho      5.833333
Vila Mariana        Ambiente     9.500000
                    Atendimento  1.550000
                    Sabor        6.675000
                    Tamanho      7.250000
Vila Nova Conceição Ambiente     4.333333
                    Atendimento  7.233333
                    Sabor        5.000000
                    Tamanho      5.666667